*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.google-font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.container{
    max-width: 1350px;
    width: 71%;
    margin: 0 auto;
}
.pragraph-style{
    color: rgba(117, 117, 117, 1);
    font-size: 18px;
    font-weight: 400;
}
.btn-1{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}
.nav-bg{
    background-color: rgba(255, 248, 243, 1);
}
.navber-parent{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.nav-logo{
    font-size: 45px;
    font-weight: 400;
}
.nav-logo span{
    color: #FD6E0A;
}
/* .nav-clickable{
    
} */
.nav-clickable ul{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}
/* .nav-clickable ul li{
  
} */
.nav-clickable ul a{
    text-decoration: none;
    color: rgba(71, 71, 71, 1);
    font-size: 20px;
}